Source: libkafka-perl
Section: perl
Priority: optional
Maintainer: sleminov <sleminov@jenkins-master01.qa.tucows.net>
Build-Depends: debhelper (>= 9),
 libmodule-build-perl,
 perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/Kafka

Package: libkafka-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Apache Kafka low-level synchronous API, which does not use Zookeeper.
 The user modules in this package provide an object oriented API. The IO
 agents, requests sent, and responses received from the Apache Kafka or mock
 servers are all represented by objects. This makes a simple and powerful
 interface to these services.
 .
 The main features of the package are:
 .
 This description was automagically extracted from the module by dh-make-perl.
