Package: libkafka-perl
Version: 1.09-1
Architecture: all
Maintainer: sleminov <sleminov@jenkins-master01.qa.tucows.net>
Installed-Size: 456
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Kafka
Description: Apache Kafka low-level synchronous API, which does not use Zookeeper.
 The user modules in this package provide an object oriented API. The IO
 agents, requests sent, and responses received from the Apache Kafka or mock
 servers are all represented by objects. This makes a simple and powerful
 interface to these services.
 .
 The main features of the package are:
 .
 This description was automagically extracted from the module by dh-make-perl.
